<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styling/landing-about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.7>./css/themify-icons.css">
    <link rel="stylesheet" href="../styling/reservations.css">
    <link rel="stylesheet" href="../styling/footer.css">
    <title>Landing-About</title>
</head>
<body>
    <header>
        <nav>
            <div class="brand">
                <span>SDining
                </span>
            </div>
            <ul>
                <li style="color: lightslategray;"><a href="./index.html">Home</a></li>
                <li style="color: lightslategray;"><a href="#reserve">Reservations</a></li>
                <li style="color: lightslategray;"><a href="./menu.html">Menu</a></li>
                <li style="color: lightslategray;"><a href="./all-Info.html">Contact</a></li>
            </ul>

        </nav>
        <div class="hero">
        <div class="content">
            <div class="hero-desc">
                <h1>Welcome to Simo Dining Together forever</h1>
                <p>Simo Dining is a company that began in 2005 at Layra Street in Paris.
                </p>
                <div class="hero-action">
                    <button class="btn">Browse more food</button>
                </div>
            
            <div class="food-grid-wrapper">
                <h3>Our amazing offers</h3>
                <div class="food-grid">
                    <div class="food">
                        <div class="food-img" style="background-image:url('../images/breakfast.jfif') ;"></div>
                        <div class="food-desc">
                            <p>Breakfast</p>
                            <span><b>Lischt Mc' Burger</b></span>
                        </div>
                    </div>
                    <div class="food">
                        <div class="food-img" style="background-image:url('../images/lunch.jfif') ;"></div>
                        <div class="food-desc">
                            <p>Lunch</p>
                            <span><b>Ozan'ella Zee</b></span>
                        </div>
                    </div>
                    <div class="food">
                        <div class="food-img" style="background-image:url('../images/dinner.jfif') ;"></div>
                        <div class="food-desc">
                            <p>Dinner</p>
                            <span><b>Afro Jane</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="hero-img" style="background-image: url('../images/food3.jpg');"></div>

    </div>
    </header>


    <section class="reservations">
      <div id="reserve"></div>
        <form
          action="https://pure-everglades-12987.herokuapp.com//add/"
          method="POST">
          <div class="details">
            <br><br><br><br><br><br><br><br>
            <label for="name">Fullname</label>
            <input
              type="text"
              id="name"
              name="customer_name"
              placeholder="enter your fullname"
              pattern="[A-Z\sa-z]{3,20}"
              required
            />
          </div>
          <div class="details">
            <label for="email">Email-Adress</label>
            <input
              type="email"
              id="email"
              name="customers_email"
              placeholder="...@gmail.com"
              required
            />
          </div>
          <div class="details">
            <label for="phone">Phone number</label>
            <input
              type="tel"
              id="phone"
              name="visitor_phone"
              placeholder="+27123456789"
              pattern="(\d{3})-?\s?(\d{3})-?\s?(\d{4})"
              required
            />
          </div>
          <hr />
          <div class="details inlined">
            <label for="adult">Adults</label>
            <input
              type="number"
              id="adult"
              name="total_adults"
              placeholder="2"
              min="1"
              required
            />
          </div>
          <div class="details inlined">
            <label for="child">Children</label>
            <input
              type="number"
              id="child"
              name="total_children"
              placeholder="2"
              min="0"
              required
            />
          </div>
          <div class="details inlined">
            <label for="checkin-date">Check-in Date</label>
            <input type="date" id="checkin-date" name="checkin" required />
          </div>
          <div class="details inlined">
            <label for="checkout-date">Check-out Date</label>
            <input type="date" id="checkout-date" name="checkout" required />
          </div>
          <div class="details">
            <label for="room-selection">What's your dish ?</label>
            <select id="room-selection" name="dish" required>
              <option value="">What we have for you</option>
              <option>Breakfast</option>
              <option>Lunch</option>
              <option>Dinner</option>
            </select>
          </div>
          <hr />
          <div class="details">
            <label for="message">Rating the service</label>
            <textarea
              id="message"
              name="text"
              placeholder="How was our service, do you have any complaints?"
              required
            ></textarea>
          </div>
          <button type="submit">request reservation</button>
        </form>
        </section>

          <footer class="footer-distributed">
          
                      <div class="footer-left">
          
                          <p class="footer-links">
                              <a href="./index.html" class="link-1" id="#main">Home</a>
                          
                              <a href="#" id="#button">Menu</a>
                          
                              <a href="#header">Services</a>
                              
                              <a href="#" id="#wrap-contact">Contact</a>
                          </p>
          
                          <p class="footer-company-name">Simo Dining © 2005</p>
                      </div>
          
                      <div class="footer-center">
          
                          <div>
                              <i class="fa fa-map-marker"></i>
                              <p><span>40 Layra Street,</span>  Sea Breeze Apartment, Paris, 2005</p>
                          </div>
          
                          <div >
                              <i class="fa fa-phone"></i>
                              <p>+27815811192</p>
                          </div>
          
                          <div>
                              <i class="fa fa-envelope"></i>
                              <p><a href="mailto:support@company.com">simodeedining@gmail.com</a></p>
                          </div>
          
                      </div>
          
                      <div class="footer-right">
          
                          <p class="footer-company-about">
                            <span>Who we are:</span>
                            17 years ago Onesimo Dlodlo opened a company called Simo Dining, this company has grown from a home project to one of the largest food aggregators in the world.
                             We are present in 24 countries and 10000+ cities globally, enabling our vision of better food for more people.
                             We not only connect people to food in every context but work closely with restaurants to enable a sustainable ecosystem. 
                              </p>
                  
        
                      </div>
          
                  </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://tympanus.net/Development/DistortionHoverEffect/js/hover.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r99/three.min.js"></script>
    <script src="../scripts/landing-about.js"></script>
    <script src="../scripts/reservations.js"></script>
</body>
</html>