<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../styling/menu.css">
    <link rel="stylesheet" href="../styling/newlanding.css">
</head>
<body>
    <header>
        <div class="bg-img">
          <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="./index.html">Home</a>
            <a href="./menu.html">Menu</a>
            <a href="#wrap-contact">Contact</a>
          </div>
          
          <div id="main">
            <button class="openbtn" onclick="openNav()">☰ </button>  
          </div>
        <div class="hero">
        <div class="content">
            <div class="hero-desc">
                <h1>Welcome to Simo Dining Together forever</h1>
                <p>Simo Dining is a company that began in 2005 at Layra Street in Paris.
                </p>
                
            <div class="hero-action">
                <button class="btn">Browse more food</button>
            </div>
        
        <div class="food-grid-wrapper">
            <h3>Our amazing offers</h3>
            <div class="food-grid">
                <div class="food">
                    <div class="food-img" style="background-image:url('../images/breakfast.jfif') ;"></div>
                    <div class="food-desc">
                        <p>Breakfast</p>
                        <span><b>Lischt Mc' Burger</b></span>
                      </div>
                    </div>
                    <div class="food">
                        <div class="food-img" style="background-image:url('../images/lunch.jfif') ;"></div>
                        <div class="food-desc">
                            <p>Lunch</p>
                            <span><b>Ozan'ella Zee</b></span>
                        </div>
                    </div>
                    <div class="food">
                        <div class="food-img" style="background-image:url('../images/dinner.jfif') ;"></div>
                        <div class="food-desc">
                            <p>Dinner</p>
                            <span><b>Afro Jane</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="hero-img" style="background-image: url('../images/food3.jpg');"></div>
  
    </div>
    </header>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <section>
    <div class="wrapper">
        <div class="title">
            <h4><span>fresh food for good health</span>our menu</h4>
        </div>
        <div class="menu">
            <div class="single-menu">
                <img src="../images/food1.jpg" alt="">
                <div class="menu-content">
                    <h4>Leo combo with chips <span>R45</span></h4>
                    <p>Fish, bread and fried chips at an affordable price</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food2.jfif" alt="">
                <div class="menu-content">
                    <h4>Vegetables salad<span>R35</span></h4>
                    <p>Salad made with avodaco, tomato, leaves and oats</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food3.jpg" alt="">
                <div class="menu-content">
                    <h4>Gatsby <span>R20</span></h4>
                    <p>A bun with lettuce, cucumber,polony fish, and chips</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food4.jpg" alt="">
                <div class="menu-content">
                    <h4>Breakfast bread with drink <span>R25</span></h4>
                    <p>Two slices of bread with lettuce,cucumber and tomato with any cold drink.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food6.jpg" alt="">
                <div class="menu-content">
                    <h4>Choc with Panc <span>R45</span></h4>
                    <p>Pancakes with chocolate and strawberries on top.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food7.jfif" alt="">
                <div class="menu-content">
                    <h4>Potato Spinache <span>$45</span></h4>
                    <p>Bread with boiled flavored potato and spinach </p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food10.jfif" alt="">
                <div class="menu-content">
                    <h4>Avo bread<span>R35</span></h4>
                    <p>Monday to Friday morning special: Bread with avocado,cheese and bacon</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="../images/food9.jfif" alt="">
                <div class="menu-content">
                    <h4>Spagennate <span>R60</span></h4>
                    <p>Amazingly cooked spagetting with cheese sause and olive leaves</p>
                </div>
            </div>
        </div>
    </div> 
    <script src="../scripts/navigation.js"></script>   
</section>
</body>
</html>