*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'GT Walsheim Pro', sans-serif;
}
header{
    position: relative;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}
.brand span{
    display: inline-block;
    padding: 1rem;
    background: #a5a7a4;
    color: #fff;
    font-size: 1.4rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 1rem;
}
nav li{
    margin: 0rem 2rem;
}
nav a {
    font-size: .95rem;
    text-decoration: uppercase;
    color: rgb(3, 3, 3);

}
.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}
.content{
    background-image: url("../images/background.jpg");
    color: rgb(236, 234, 234);

}
.hero-img{
    height: 94%;
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.hero-desc{
    margin-top: 10rem;
    margin-left: 6rem;
    padding: 2rem 8rem 2rem 2rem;
}

.hero-desc h1{
   font-size: 2.5rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}
.hero-desc p{
     margin-bottom: 2.2rem;
     line-height: 1.5rem;
 }

 .hero-desc button{
     padding: 1rem 3rem;
     text-transform: uppercase;
     color: #0d0d25;
     background-color: #a5a7a4;
     border: none;
     font-weight: bold;
 }
 .hero-action{
     margin-bottom: 2rem;
 }
.food-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0rem 3rem;
}
 .food-img{
     height: 100px;
     background-size: cover;
     background-repeat: no-repeat;
 }
 .food-grid-wrapper{
     margin-top: 2.9rem;
 }
 .food-grid-wrapper h3{
     margin-bottom: .8rem;
 }
 .food-grid-wrapper p{
     margin-bottom: .1rem;
 }
 .food-grid p{
     margin-bottom: .1rem;
 }
 .food-desc {
     margin-top: .5rem;
 }